body {
    background-image: linear-gradient(to right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}
form {
    background-color:aliceblue;
    border-radius: 20px;
    width: 40%;
    height: 50%;
    margin: auto;
    padding: 20px;
}
img {
    float: right;
}
h1{
    width: 100%;
    color: black;
}
